body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.block{
  background: linear-gradient(135deg,#0097e6,#0077c5);
  height: 2em;
  margin-top:5px ;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  width: 100%;
  /* text-align: justify; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLanguage{
  width: 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.netProfitDisplay{
  /* background-color: rgb(166, 181, 194); */
  
}
